@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Quicksand:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

::selection {
  background-color: var(--accent);
  color: #fff;
}

::-moz-selection {
  background-color: var(--accent);
  color: #fff;
}

::-o-selection {
  background-color: var(--accent);
  color: #fff;
}

::-ms-selection {
  background-color: var(--accent);
  color: #fff;
}

::-webkit-selection {
  background-color: var(--accent);
  color: #fff;
}

[data-mantine-color-scheme="dark"],
:root[data-mantine-color-scheme="dark"] {
  --background: #09090b;
  --background-secondary: #18181b;
  --text-color: #fafafa;
  --border-color: #27272a;
  --accent: #0ca678;
  --background-surface: #111111;
}

[data-mantine-color-scheme="light"],
:root[data-mantine-color-scheme="light"] {
  --background: #fdfdfd;
  --background-secondary: #f4f4f5;
  --text-color: #19191b;
  --border-color: #e4e4e7;
  --accent: #0ca678;
  --background-surface: #f4f4f5;
}


#highlight{

  color: var(--accent) !important;
  font-weight: 600;
}

a {
  color: white;
  text-decoration: none;
}

.Navigation-container {
  display: flex;
  position: fixed;
  overflow-y: auto;
  z-index: 1000;
  width: 100%;
  margin: 0 auto;
  flex-direction: row;
  background-color: var(--background-secondary);
  justify-content: center;
  align-items: center;
}

.Navigation {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 60px;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  font-family: 'Outfit', sans-serif;
  font-size: 1.1rem;
  color: var(--text-color);
}

.sidebar-icon {
  display: flex;
  width: 80%;
  flex-direction: row;
  font-size: 1.4rem;
  align-items: flex-start;
  justify-content: flex-start;
}

.nav-sections {
  display: flex;
  height: 45px;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.sidebar-link {
  display: flex;
  height: 60px;
  width: 100%;
  flex-direction: row;
  align-self: center;
  justify-content: center;
}


.nav-link svg,
.sidebar-link svg {
  align-self: center;
  justify-content: flex-start;
  font-size: 25px;
  margin-right: 10px;
}

.nav-link:hover,
.sidebar-link:hover {
  color: var(--accent);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

body {
  background-color: var(--background) !important;
}

.Dashboard-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: fit-content;
  min-height: 100%;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: center;
  margin-top: 100px;
}

.dashboard-top {
  display: flex;
  flex-direction: column;
  height: 180px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--background-secondary);
  color: var(--text-color);
  border-radius: 12px;
  margin-bottom: 10px;
}

.dashboard-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  height: 200px;
  font-family: 'Outfit', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

.dashboard-results {
  display: flex;
  min-height: fit-content;
  flex-direction: column;
  height: fit-content;
  margin-top: 10px;
  color: var(--text-color);
  width: 100%;
  border-radius: 12px;
  margin: 0 auto;
  font-family: 'Outfit', sans-serif;
}

.search {
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
  background-color: var(--accent);
}

.search svg {
  display: flex;
  margin-right: 10px;
  font-size: 23px;
}

.search-input {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 100%;
  margin: 10px;
}

.heading {
  display: flex;
  padding: 10px;
  font-family: 'Outfit', sans-serif;
  font-size: 1.0rem;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 70px;
}

.search-filters-container {
  display: flex;
  flex-direction: column;
  background-color: var(--background-secondary);
  border-radius: 12px;
  height: fit-content;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}


.input,
.location-input,
.date-input,
.pay-input {
  display: flex;
  justify-content: space-around;
  color: var(--accent);
  border: transparent 2px solid;
  height: 45px;
  margin: 10px;
  width: 40%;
  border-radius: 12px;
  background-color: var(--background-surface);
  padding: 10px;
  font-family: 'Outfit', sans-serif;
  font-size: 1.0rem;
  font-weight: 400;
}

#small-input,
#big-input {
  display: flex;
  flex-direction: row;
}

#small-input {
  width: 30%;
}

.date-input,
.pay-input {
  width: 100%;
}

.input:focus,
.location-input:focus {

  border-color: var(--accent);
  outline: none;
}

.contract-input,
.experience-input,
.experience-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
}

.indicators{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: flex-end;

}

.results-amount {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-left: 10px;
  justify-content: flex-start;
}

.results-isRemote {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  color:var(--accent);
}

.results-isRemote svg{
  display: flex;

  margin-right: 10px;
}
.remote-only,
.clear-filters {
  display: flex;
  margin: 10px;
}


.Footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  font-size: 16px;
  padding: 10px;
}

.dashboard-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  border-radius: 12px;
  margin-top: 10px;
  background-color: var(--background-secondary);
}

.notFound-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
}

.notFound{
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 300px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.error-message{
  display: flex;
  height: fit-content;
  padding: 10px;
  font-family: 'Outfit', sans-serif;
  font-size: 1.5rem;
  margin: 10px;
}


.no-results {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  margin-top: 10px;
  font-size: 1.3rem;
  background-color: var(--background-secondary);
}

.dashboard-card-collapsed {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  border-radius: 12px;
  margin-top: 10px;
  background-color: var(--background-secondary);
}

.buttons-tray {
  display: flex;
  flex-direction: row;
}

.button {
  width: fit-content;
  margin-right: 10px;
}

.apply-button,
.save-job-button {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.apply-button a,
.save-job-button a {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
}

.apply-button a>svg,
.save-job-button a>svg {
  font-size: 23px;
  margin-right: 5px;
}

.job-title {
  font-size: 1.2rem;
  padding: 10px;
  color: var(--accent);
}

.job-description-collapsed {
  height: fit-content;
  width: fit-cotnent;
  font-size: 0.9rem;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.job-location,
.job-description,
.job-company_name,
.job-created {
  font-size: 0.9rem;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.job-location svg,
.job-title svg,
.job-company_name svg,
.job-created svg {
  margin-right: 10px;
  color: #0ca678;
}

.job-top-details {
  display: flex;
  flex-direction: row;
}

#highlight {
  color: var(--accent);
}

.Skeleton {
  display: flex;
  width: 100%;
  height: 250px;
  margin-top: 10px;
}

.skeleton-button {
  display: flex;
  width: 100%;
  height: 100px;
  margin: 10px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 200px;
  background-color: var(--background-surface);
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  padding: 24px 12px;
  z-index: 100;
  font-size: 1.1rem;
  color: var(--text-color);

  transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
  border-right: 1px solid rgba(54, 51, 51, 0.05);
}

.sidebar.collapsed {
  width: 85px;
}

.sidebar-top {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

/* Logo Styling */
.sidebar-icon {
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 40px;
  white-space: nowrap;
}

.profile-pic {
  display: flex;
  height: 100px;
  width: 100px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: #0ca678;
  border-radius: 50px;
  color: white;
  transition: all 0.3s ease;
  font-size: 1.3rem;
  ;
}

.sidebar.collapsed .profile-pic {
  height: 45px;
  width: 45px;
  margin-bottom: 20px;
}

.sidebar-heading {
  display: flex;
  width: 100%;
  height: fit-content;
  padding: 10px;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.0rem;
}

.sidebar-links {
  display: inline-flex;
  width: 100%;
  height: 500px;
  flex-direction: column;
  align-items: center;
}

.sidebar.collapsed .sidebar-link {
  align-items: center;
  margin: 0px;
  padding: 0px;
  justify-content: center;
}

.sidebar-link {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 8px 8px;
  margin-top: 10px;
  color: var(--text-color);
  border-radius: 12px;
  transition: all 0.2s ease;
  white-space: nowrap;
  font-size: 1.3rem;
}

.sidebar-link:hover {
  color: var(--accent);
}

.sidebar-link svg {
  font-size: 25px;
  min-width: 25px;
}

.sidebar.collapsed .sidebar-link svg {
  margin-right: 0;
}

.sidebar-buttons {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  background-color: #0ca678;
  justify-content: space-evenly;
  border-radius: 14px;
  overflow: hidden;
  margin-top: 20px;
  transition: flex-direction 0.3s;
}

.sidebar.collapsed .sidebar-buttons {
  flex-direction: column;
  height: 50px;
  width: 100%;
}

.collapse-button,
.theme-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: white;
  cursor: pointer;
}

.sidebar.collapsed .collapse-button,
.sidebar.collapsed .theme-button {
  background-color: #0ca678;
  border-radius: 10px;
  font-size: 1.0rem;
}

.display-none {
  display: none;
}

@media(min-width: 300px) and (max-width: 750px) {

  .dashboard {
    width: 80%;
  }

  .dashboard-card {
    width: fit-content;
    height: 280px;
    width: 100%;
  }

  .job-description {
    max-height: 120px;
    overflow-y: hidden;
    align-items: flex-start;
    justify-content: center;
  }

  .buttons-tray {
    height: fit-content;
    width: 100%;
    margin: 10px;
  }

  .search-filter,
  #big-input {
    flex-direction: column;
  }

}


@media(min-width: 750px) and (max-width: 1000px) {

  .dashboard {
    width: 80%;
  }

  .dashboard-card {
    width: fit-content;
    height: 280px;
    width: 80%;
  }

  .job-description {
    max-height: 120px;
    overflow-y: hidden;
    align-items: flex-start;
    justify-content: center;
  }

  .buttons-tray {
    height: fit-content;
    width: 100%;
    margin: 10px;
  }
}