@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Quicksand:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


/*** Works on common browsers ***/
::selection {
  background-color: var(--accent);
  color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
  background-color: var(--accent);
  color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
  background-color: var(--accent);
  color: #fff;
}

::-ms-selection {
  background-color: var(--accent);
  color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
  background-color: var(--accent);
  color: #fff;
}


[data-mantine-color-scheme="dark"],
:root[data-mantine-color-scheme="dark"] {
  --background: #09090b;
  --background-secondary: #18181b;
  --text-color: #fafafa;
  --border-color: #27272a;
  --accent: #0ca678;
  --background-surface: #2e2e2e;
}

/* Airy, Neutral Light Mode */
[data-mantine-color-scheme="light"],
:root[data-mantine-color-scheme="light"] {
  --background: #fdfdfd;
  /* Almost white */
  --background-secondary: #f4f4f5;
  /* Zinc 100 - very balanced */
  --text-color: #09090b;
  /* Deep Zinc black */
  --border-color: #e4e4e7;
  --accent: #0ca678;
  --background-surface: #ffffff;
}

a {
  color: white;
  text-decoration: none;
}

.Navigation-container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-direction: row;
  background-color: var(--background-secondary);
  justify-content: center;
  align-items: center;
}

.Navigation {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 60px;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  font-family: 'Outfit', sans-serif;
  font-size: 1.1rem;
  color: var(--text-color);
}

.nav-sections {
  display: flex;
  height: 45px;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.nav-link {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-self: center;
  justify-content: center;
}

.nav-link svg {
  align-self: center;
  justify-content: center;
  font-size: 23px;
  margin-right: 10px;
}

.nav-link:hover {
  color: var(--accent);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

body {
  background-color: var(--background) !important;
}

.Dashboard-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: fit-content;
  min-height: 100%;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: center;
}

.dashboard-top {
  display: flex;
  flex-direction: column;
  height: 180px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--background-secondary);
  color: var(--text-color);
  border-radius: 12px;
  margin-bottom: 40px;
}

.dashboard-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  height: 200px;
  font-family: 'Outfit', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

.dashboard-results {
  display: flex;
  min-height: fit-content;
  flex-direction: column;
  height: fit-content;
  margin-top: 10px;
  color: var(--text-color);
  width: 100%;
  border-radius: 12px;
  margin: 0 auto;
  font-family: 'Outfit', sans-serif;
}

.search {
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
  background-color: var(--accent);
}

.search svg {
  display: flex;
  margin-right: 10px;
  font-size: 23px;
}

.search-input {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 100%;
  margin: 10px;
}

.input,
.location-input {
  display: flex;
  color: var(--accent);
  border: transparent 2px solid;
  height: 45px;
  margin: 10px;
  width: 80%;
  border-radius: 12px;
  background-color: var(--background-surface);
  padding: 10px;
  font-family: 'Outfit', sans-serif;
  font-size: 1.0rem;
  font-weight: 400;
}

.input:focus,
.location-input:focus {

  border-color: var(--accent);
  outline: none;

}

.contract-input,
.experience-input {
  display: flex;
  color: var(--accent);
  border: transparent 2px solid;
  height: 45px;
  margin: 10px;
  width: 250px;
  border-radius: 12px;
  background-color: var(--background-surface);
  padding: 10px;
  font-family: 'Outfit', sans-serif;
  font-size: 1.0rem;
  font-weight: 400;

}

.Footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  font-size: 16px;
  padding: 10px;
}

.dashboard-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: fit-content;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  border-radius: 12px;
  margin-top: 10px;
  background-color: var(--background-secondary);
}

.buttons-tray {
  display: flex;
  flex-direction: row;
}

.button {
  width: fit-content;
  margin-right: 10px;
}

.apply-button,
.save-job-button {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.apply-button a,
.save-job-button a {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
}

.apply-button a>svg,
.save-job-button a>svg {
  font-size: 23px;
  margin-right: 5px;
}

.job-title {
  font-size: 1.2rem;
  padding: 10px;
  color: var(--accent);
}

.job-location,
.job-description,
.job-company_name,
.job-created {
  font-size: 0.9rem;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.job-location svg,
.job-title svg,
.job-company_name svg,
.job-created svg {
  margin-right: 10px;
  color: #0ca678;
}

.job-top-details {
  display: flex;
  flex-direction: row;
}

@media(min-width: 300px) and (max-width: 750px) {

  .dashboard {
    width: 80%;

  }

  .dashboard-card {
    width: fit-content;
    height: 280px;
  }

  .job-description {
    max-height: 120px;
    overflow-y: hidden;
    align-items: flex-start;
    justify-content: center;
  }

  .buttons-tray {
    height: fit-content;
    width: 100%;
    margin: 10px;
  }
}